<h1>Stupid coach answer</h1>

<blockquote>
  <p><%= params[:question] %></p>
  <p>- You</p>
</blockquote>

<blockquote id="coach_answer">
<p><strong><%= @answer %></strong></p>
<p>- Your coach</p>
</blockquote>
<p><a href="/ask">Ask a new question</a></p>
